body{
    margin: 0;
    height: 100vh;
    background-color: #ededed;
    /* overflow-x: hidden; */
}

*{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

header{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #FFE100;
    font-size: 2rem;
    color: #320042;
}

header img{
    width: 60px;
    height: 60px;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 7px;
    background-color: #320042;
    border-radius: 50%;
}
.listaNoPc img{
    width: 90px;

}
.descricaoDoSite{
    width: 80%;
    margin: 30px auto;
    height: 50%;
}
.descricaoDoSite p{
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
    
}

footer{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 40px;
    font-size: 1.3rem;
    background-color: #FFE100;
    color: #320042;
    
}


@media only screen and (min-width: 600px) {
    .descricaoDoSite p {
        font-size: 1.3rem;
    }
    header{ 
        font-size: 3rem;
        color: #320042;
    }
    header img{
        width: 100px;
        height: 100px;
    }
    figure{
        width: 200px;
        height: 200px;
       
    }
    .listaNoPc img{
        width: 100px;
    
    }
} 

@media only screen and (min-width: 992px) {
    section{
        flex-direction: row;
        font-size: 2rem;
    }
    .listaNoPc{
        height: 50%;
        width: 20%;
        margin-left:20px; 
    }
    .listaNoPc img{
        width: 150px;
    
    }
    figure{
        width: 250px;
        height: 250px;

    }
    .descricaoDoSite{
        width: 50%;
        height: 50%;
    }
    .descricaoDoSite p{
        font-size: 1.7rem;
       
    }
} 


@media only screen and (min-width: 1200px) {
    header{ 
        height: 400px;
        font-size: 5rem;
    }
    header img{
        width: 200px;
        height: 200px;
    }
    .listaNoPc{
        display: flex;
        justify-content: center;
        height: 55%;
        width: 40%;
    }
    .listaNoPc img{
        width: 200px;
    
    }
    figure{
        width: 300px;
        height: 300px;
        margin-left: 80px;

    }
    .descricaoDoSite{
        width: 50%;
       
    }
    .descricaoDoSite p{
        width: 80%;
    }
    
}