body{
    margin: 0;
    height: 100vh;
    background-color: #ededed;
    /* overflow-x: hidden; */
}

*{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

header{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #FFE100;
    font-size: 2rem;
    color: #320042;
}

header img{
    width: 60px;
    height: 60px;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
}
.listaNoPc{
    width: 150px;
    height: 150px;
    padding: 7px;
    background-color: #320042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.listaNoPc img{
    width: 90px;

}
.descricaoDoSite{
    width: 80%;
    margin: 30px auto;
}
.descricaoDoSite p{
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
    
}

footer{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 40px;
    background-color: #FFE100;
    color: #320042;
    
}

