body{
    margin: 0;
    background-color: #ededed;
}

*{
    margin: 0;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    list-style: none;
}
header{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: lightsalmon;
}
header img{
    width: 90px;
    height: 90px;
}
#conteudo{
    margin: 0 auto;
    width: 90vw;
    height: 100vw;
    display: flex;
}
#caixaLista{
    margin: auto 0;
    width: 70%;
    height: 90%;
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.1), 0 1px 40px 0 rgba(0, 0, 0, 0.1);
}
#caixaLista h2{
    font-size: 4rem;
    margin: 30px;
}

#caixaTarefas{
    margin: 10% auto;
    background-color: white;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.1), 0 1px 40px 0 rgba(0, 0, 0, 0.1);
}
#caixaTarefas input{
    margin: 40px 0 20px 0;
    width: 200px;
    height: 25px;
    border-radius: 6px;
    outline: none;
    border: 2px solid black;
    text-align: center;
}
#caixaTarefas button{
    height: 25px;
    width: 120px;
    font-size: 0.8rem;
    border-radius: 8px;
    outline: none;
    background-color: lightsalmon;
    border: none;
    cursor: pointer;
}

.listaDeItens{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0;
}
.item{
    background-color: #ededed;
    margin: 10px 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding-left: 30px;
    width: 96%;
}
.concluirTarefa{
   background-color: lightgreen;
   text-align: center;
   width: 100px;
   font-size: 1rem;  
   cursor: pointer;  
   
}
.removerTarefa{
    background-color: lightcoral;
    text-align: center;
    width: 100px;
    font-size: 1rem;  
    cursor: pointer;  
 }
 .botoesTarefa{
     display: flex;
 }